{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Supply Chain Management For Cold Storage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo/logo_green.png' %}" type="image/gif" sizes="16x16">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                Profile
            </div>
            <div class="col-sm-8">
                Supply
            </div>
        </div>

    {% block content %}

    {% endblock content %}
    </div>
    
        

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/proper.js' %}"></script>
</body>
</html>